<main class='main-content bgc-grey-100'>
  <div id='mainContent'>
    <div class="row gap-20 masonry pos-r">
      <div class="masonry-sizer col-md-6 pos-a"></div>

      <div class="masonry-item col-md-6">
        <div class="bgc-white p-20 bd">
          <div id="calculated-stats" class="d-flex justify-content-between">
            <div>
              <div class="d-flex">
                <h4 class="c-grey-900">Remaining Selections:</h4>
                <h4 id="remaining-selections-count" class="c-grey-900">
                  <%= 5 - entryTeamIds.length %>
                </h4>
              </div>
              <div class="d-flex">
                <h4 class="c-grey-900">Remaining Budget:</h4>
                <h4 id="remaining-budget" class="c-grey-900">$<%= Intl.NumberFormat().format(season.spending_cap) %></h4>
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-primary" id="entriesSubmit">Submit</button>
            </div>
          </div>
          <div class="mT-30">
            <h6 class="c-grey-900">Selected Teams</h6>
            <div class="mT-30">
              <table id="selected" class="table table-striped table-hover table-bordered data-table" cellspacing="0" width="100%" data-ss="1">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Abbreviation</th>
                    <th>Value</th>
                    <th data-class="hidden">Id</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i = 0; i < teams.length; i++) { %>
                    <% if (entryTeamIds.indexOf(teams[i].id) >= 0) { %>
                      <tr>
                        <td class="name"><%= teams[i].name %></td>
                        <td class="abbreviation"><%= teams[i].abbreviation %></td>
                        <td class="value">$<%= Intl.NumberFormat().format(teams[i].value) %></td>
                        <td class="id"><%= teams[i].id %></td>
                      </tr>
                    <% }; %>
                  <% }; %>
                </tbody>
                <tfoot>
                  <tr>
                    <th colspan="2" style="text-align:right">Total:</th>
                    <th id="total-spent"></th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="masonry-item col-md-6">
        <div class="bgc-white p-20 bd">
          <h6 class="c-grey-900">Available Teams</h6>
          <div class="mT-30">
            <table id="available" class="table table-striped table-hover table-bordered data-table" cellspacing="0" width="100%" data-ss="1">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Abbreviation</th>
                  <th>Value</th>
                  <th data-class="hidden">Id</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i = 0; i < teams.length; i++) { %>
                  <% if (entryTeamIds.indexOf(teams[i].id) < 0) { %>
                    <tr>
                      <td class="name"><%= teams[i].name %></td>
                      <td class="abbreviation"><%= teams[i].abbreviation %></td>
                      <td class="value">$<%= Intl.NumberFormat().format(teams[i].value) %></td>
                      <td class="id"><%= teams[i].id %></td>
                    </tr>
                  <% }; %>
                <% }; %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
